
<div class="container-fluid login-body">
  <div class="login-page">
    <div class="form">
      <form (submit)="onLoginSubmit()" class="login-form">
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="password">
        </div>
        <button type="submit"><a href="/motion"></a>login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
      </form>
      <div class="container" style="width: 95%">
        <flash-messages></flash-messages>
      </div>
    </div>
  </div>
</div>

