<div class="row" style="width: 400px; margin-left: 100px;">
  <p>
    Top Button
    <mat-form-field>
      <mat-select [(ngModel)]="top">
        <mat-option *ngFor="let item of list; let i=index" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="setButton('top', top)">Set Button</button>
  </p>
</div>

<div class="row" style="width: 400px; margin-left: 100px;">
  <p>
    Mid Button
    <mat-form-field>
      <mat-select [(ngModel)]="mid">
        <mat-option *ngFor="let item of list; let i=index" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="setButton('mid', mid)">Set Button</button>
  </p>
</div>


<div class="row" style="width: 400px; margin-left: 100px;">
  <p>
    Bottom Button
    <mat-form-field>
      <mat-select [(ngModel)]="bottom">
        <mat-option *ngFor="let item of list; let i=index" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="setButton('bottom', bottom)">Set Button</button>
  </p>
</div>

<div class="row" style="width: 400px; margin-left: 100px;">
  <p>
    Touch Sensor
    <mat-form-field>
      <mat-select [(ngModel)]="touch">
        <mat-option *ngFor="let item of list; let i=index" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="setButton('touch', touch)">Set Button</button>
  </p>
</div>

<button (click)="setAll()">Set All</button>
