<div class="row">
  <div class="col">
    <table style="width: 100%">
      <tr>
        <td>
            Speed
        </td>
        <td style="text-align: left">
          <input type="range" min='0' max='2' step="0.1" [(ngModel)]="speed" (change)="onSpeedChange()">
        </td>
        <td style="text-align: right">
          {{speed}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <table style="width: 100%">
      <tr>
        <td>
          Pitch
        </td>
        <td style="text-align: left">
          <input type="range" min="0" max="200" step="1" [(ngModel)]="pitch" (change)="onPitchChange()">
        </td>
        <td style="text-align: right">
          {{pitch}}
        </td>
      </tr>
    </table>
  </div>
</div>
