.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-container > * {
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  max-height: inherit !important;
  height: 110px !important;
}

.mat-dialog-actions {
  display: block !important;
  flex-grow: inherit;
  flex-shrink: inherit;
  padding: 12px 0 0 !important;

  &:last-child {
      margin-bottom: 0 !important;
  }
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.5px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.4px #000000, 0px 0px 0.9px #0d0d0d;
  background: rgba(104, 93, 93, 0.39);
  border-radius: 0.4px;
  border: 0px solid rgba(1, 1, 1, 0.52);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.2px 1.2px 2.4px #000000, 0px 0px 1.2px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0.78);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #fafafa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.25px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(189, 181, 181, 0.39);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3.5px;
  cursor: pointer;
  box-shadow: 0.9px 0.9px 1.4px #000000, 0px 0px 0.9px #0d0d0d;
  background: rgba(104, 93, 93, 0.39);
  border-radius: 0.4px;
  border: 0px solid rgba(1, 1, 1, 0.52);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.2px 1.2px 2.4px #000000, 0px 0px 1.2px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0.78);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #fafafa;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(12, 11, 11, 0.39);
  border: 0px solid rgba(1, 1, 1, 0.52);
  border-radius: 0.8px;
  box-shadow: 0.9px 0.9px 1.4px #000000, 0px 0px 0.9px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(104, 93, 93, 0.39);
  border: 0px solid rgba(1, 1, 1, 0.52);
  border-radius: 0.8px;
  box-shadow: 0.9px 0.9px 1.4px #000000, 0px 0px 0.9px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.2px 1.2px 2.4px #000000, 0px 0px 1.2px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0.78);
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background: #fafafa;
  cursor: pointer;
  height: 3.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(104, 93, 93, 0.39);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(189, 181, 181, 0.39);
}
