<div class="flex-container">
  <div class="row">

    <div class="col-md-4 col-sm-6">
      <div class="render-area">
          <app-beo></app-beo>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="movements-area">
        <app-input-poses (newMessage)='onMessage($event)'></app-input-poses>
      </div>

    </div>

    <div class="col-md-5 col-lg-4" style="text-align: center">
      <div class="table-area">
        <app-poses-table (newMessage)="onMessage($event)"></app-poses-table>
      </div>
    </div><br>
  </div>
</div>
