
.flex-container {
  justify-content: center;

  padding: 15px;
}

.render-area {
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
}

@media screen and (min-width: 1301px) {
  .render-area {
    padding-top: 30px;
  }
  .table-area {
    width: 80%;
    padding-left: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2900px) {

  .render-area {
    position: fixed;
    padding-right: 0px;
    padding-top: 40px;
    width: 32%;
    height: 32%;
  }
  .movements-area {
    position: fixed;
    padding: 0px;
    width: 30%;
  }
  .table-area {
    padding-left: 120px;
    position: relative;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .table-area {
    margin-top: 15px;
    margin-left: 50px;
  }
  .movements-area {
    position: fixed;
    padding: 0px;
    width: 30%;
  }
  .render-area {
    padding-top: 100px;
    position: fixed;
    width: 35%;
    height: 35%;
  }
}

@media screen and (min-width: 150px) and (max-width: 767px) {
  .render-area {
    text-align: center;
  }
}
