
<div class="row allLists">
  <mat-list class="listBeo">
    <mat-list-item class="header">Eyes</mat-list-item>
    <mat-list-item class="eachOption" *ngFor="let option of eyesOptions" (click)="setEyes(option)">{{option.option}}</mat-list-item>
  </mat-list>
  <mat-list class="listBeo">
    <mat-list-item class="header">Motion</mat-list-item>
    <mat-list-item class="eachOption" *ngFor="let motion of motionList" (click)="tablePlayMotion(motion)">{{motion.name}}</mat-list-item>
  </mat-list>
  <mat-list class="listBeo">
    <mat-list-item class="header">Speech</mat-list-item>
    <mat-list-item class="eachOption"*ngFor="let speech of speechList" matTooltip="{{speech.metadata.text}}"(click)="tablePlaySpeech(speech)">{{speech.filename}}</mat-list-item>
  </mat-list>
  <mat-list class="listBeo">
    <mat-list-item class="header">Scenario</mat-list-item>
    <mat-list-item class="eachOption" *ngFor="let scenario of scenarioList" matTooltip="{{scenario.description}}" (click)="tablePlayScenario(scenario)">{{scenario.name}}</mat-list-item>
  </mat-list>
</div>
