.allLists {
  margin: 0px;
}

.header {
  font-weight: bold;
}

.listBeo {
  min-height: 500px;
  max-height: 650px;
  max-width: 180px;
  background-color: white;
  display: block;
  overflow-y: scroll;
  list-style-type: none;
}

.eachOption {
  cursor: pointer;
  background-color:white;
}

.eachOption:hover {
  background-color: whitesmoke;
  border: solid 1px lightgray;
}

ul {
  padding: 5px;
}
