@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-area{
  display: inline-block;
  left: 0;
  right: 0;
  width: 60%;
  margin: auto;
  position:fixed;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
}

.table th {
  border-top: 0px;
}

#list-options{
  text-align: center;
  width: 30%;
}

#filename{
  padding-top: 20px;
  width: 20%;
}

#creatorname{
  padding-top: 20px;
  width: 20%;
  text-align: center;
}

@media (min-width: 120px) {
  .table-area{
  width: 100%;
  }
}
@media (min-width: 512px) {
  .table-area{
  width: 80%;
  }
}

#searchBox {
  width: 200px;
}

button.new-scenario {
  font-family: "Roboto", sans-serif;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: #4CAF50;
  width: 250px;
  border: 0;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.new-motion:hover {
  background-color: rgba(76, 175, 80, 0.9);
}

button.btn {
  cursor: pointer;
}

div.database {
  position: relative;
  z-index: 1;
  margin: 10px auto 100px;
  padding: 45px;
  padding-top: 35px;
  text-align: center;
}

button.options {
  font-family: "Roboto", sans-serif;
  border: 0;
  outline: 0;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

#downloadButton {
  cursor: pointer;
}
