<div class="container database">
  <div>
    <div class="example-container mat-elevation-z8">
      <div>
        <button class="new-scenario" [routerLink]="['/scenario/new']"><span class="fa fa-plus-circle"></span> NEW SCENARIO</button><br>
      </div>

    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <mat-table #table [dataSource]="list">
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
        <mat-cell *matCellDef="let scenario">
            <button class="btn" title="Edit file" [routerLink]="['/scenario/' + scenario.name + '/edit']">
              <span class="fa fa-pencil"></span></button>
            <button class="btn" title="Delete file" (click)="deleteScenario(scenario)">
              <span class="fa fa-trash-o"></span></button>
            <button class="btn" id="downloadButton" title="Download JSON file" (click)="generateDownloadUri(scenario.name)">
              <span class="fa fa-floppy-o"></span>
            </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let scenario"> {{scenario.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creator">
        <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
        <mat-cell *matCellDef="let scenario"> {{scenario.creator}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

