<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="./../../../assets/logoatual3.png" width="70" height="30"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link"[routerLink]="['/']">Home</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/motion']">Motion Creator</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/speech']">Speech Creator</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/scenario']">Scenario Creator</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/control']">Live Control</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/buttons']">Set Buttons</a></li>
          <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/profile']">Profile</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="nav-item nav-link" [routerLink]="['/register']">Register</a></li>
      </ul>
      <ul class="nav nabvar-nav navbar-toggler-center">
        <button *ngIf="authService.loggedIn()" class="but white small" (click)="openSocketConfig()">Connect!</button>
      </ul>

      <ul class="nav navbar-nav navbar-toggler-right navbar-text">
        <li *ngIf="authService.loggedIn()">
          <ol>
            Hello, {{username}}!
            <span *ngIf="isAdmin === true">
              You're an admin!
            </span>
          </ol>
        </li>
      </ul>
      <span *ngIf="authService.loggedIn()"><a class="logout navbar-text" (click)=onLogoutClick() href="#">Logout</a></span>
  </div>
</nav>
