
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.container-fluid {
  padding: 0px;
}

tr:hover, tr.selected {
  background-color: rgba(0, 0, 0, 0.05)
}
td {padding: 5px;}

.table {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.table th {
  vertical-align: middle;
}

button.playPose {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 5px;
  color: white;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.play {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: #4CAF50;
  width: 50px;
  border: 0;
  border-radius: 0;
  padding: 7px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.copy {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: white;
  width: 50px;
  border: 0;
  padding: 5px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.copy:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

button.delete {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: rgba(201, 36, 36, 0.85);
  width: 70px;
  border: 0;
  padding: 5px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}


button.save {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: #4CAF50;
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.cancel {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: rgba(201, 36, 36, 0.85);
  width: 100%;
  border: 0;
  border-radius: 0;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.play:hover,
.save:hover,
.playPose:hover {
  background-color: rgba(76, 175, 80, 0.9);
}

.cancel:hover,
.delete:hover {
  background-color: rgba(201, 36, 36, 0.75);
}

input[type=number] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 0px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}

input[type=text] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  text-align: center;
}

.fa:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6)
}
