<div class="container-fluid">
  <form #registerForm="ngForm">
    <div>
      <div class="form-group">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Pose</th>
              <th>Transition Time</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let move of keyframes.tjoints; let i = index">
              <th style="min-width: 40px; padding: 0px;">
                <span class="fa fa-arrow-down" (click)="moveDown(i)"></span>
                <span class="fa fa-arrow-up" (click)="moveUp(i)"></span>
              </th>
              <th title="Click to set robot's pose">
                <button class="playPose" (click)="tablePlay(i)">{{i}}</button></th>
              <th><input [ngModelOptions]="{standalone:true}" type="number" min="0" step="0.1" name="duration{{i}}" class="form-control"
                required placeholder="Duration(s)" [(ngModel)]="keyframes.tjoints[i][9]"></th>
              <th><input title="Copy or delete" type="checkbox" value="{{i}}" (change)="tableSelection($event)"></th>
            </tr>
          </tbody>
        </table>
        <div *ngIf="!validateService.validateDurations(keyframes.tjoints)" class="alert alert-danger">Don't forget to add the durations. Make sure they are all positive integers!</div>
      </div>
    </div>

    <div>
      <button title="Play all poses on table. They constitute the motion." class="btn play" (click)="playMotion()"
        [disabled]="!validateService.validateDurations(keyframes.tjoints)">Play</button>
      <button title="Copy selected poses to end of table" class="copy" (click)="tableCopy()">Copy</button>
      <button title="Delete selected poses from table" class="delete" (click)="tableDelete()">Delete</button><br><br>
    </div>

    <div class="form-group">
      <input name="name" class="form-control" required title="Input desired file name to save the current motion! It could be something like: 'fileName'" type="text" [(ngModel)]="name" placeholder="Motion's name">
    </div>
    <button type="submit" class="btn save" [disabled]="!validateService.validateName(name)"
      (click)="onMotionSave()" title="Input movement's name before saving">Save</button>
    <button title="Cancel motion edit and return" class="btn cancel" (click)="tableCancel()">Cancel</button>
  </form>
  <div class="container" style="width: 100%; margin-top: 15px;">
    <flash-messages></flash-messages>
  </div>
</div>
