<div class="row">
  <app-control-list class="controlList" (newMessage)="onMessage($event)"></app-control-list>
  <div class="col row">
    <div class="col-6">
      <app-beo class="col avatarBeo"></app-beo>
      <app-live-speech class="col liveSpeech"(newMessage)="onMessage($event)"></app-live-speech>
    </div>
    <div class="col-6 container-flex">
      <app-joint-sliders class="col sliders" (newMessage)="onMessage($event)"></app-joint-sliders>
      <div class="row">
        <app-live-wheels class="col liveWheels" (newMessage)="onMessage($event)"></app-live-wheels>
      </div>
    </div>
  </div>
</div>
