<div class="register-body">
  <div class="register-page">
    <form #registerForm="ngForm" (submit)="onRegisterSubmit()" class="form register-form">
      <div class="form-group">
        <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="name" required>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="username" required>
      </div>
      <div class="form-group">
        <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" name="{{email}}" attr.name="{{email}}" class="form-control" placeholder="e-mail@email.com" required>
        <div [hidden]="!email" *ngIf="!validateService.validateEmail(email)"
          class="alert alert-danger">
          Input correct email address
        </div>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="password" required>
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="adminCode" name="adminCode" class="form-control" placeholder="admin code">
      </div>
      <button type="submit">register</button>
      <div class="container" style="width: 100%">
        <flash-messages></flash-messages>
      </div>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
  </div>
</div>

