<div class="row">
  <div class="col-3">
    <mat-card class="items1">
      <mat-card-header>Motions</mat-card-header>
      <mat-card-content >
        <ul *ngFor="let motion of motionToDrop" matTooltip="Duration: {{motion.duration}} s" [draggable] [dragClass]="'active'" [dragData]="motion" class="drop green">
          {{motion.name}}
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3">
    <mat-card class="items1">
      <mat-card-header>Speeches</mat-card-header>
      <mat-card-content>
        <ul *ngFor="let speech of speechToDrop" matTooltip="{{speech.metadata.text}}" [draggable] [dragClass]="'active'" [dragData]="speech" class="drop grey">
          {{speech.filename}}
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3">
      <mat-card class="items1">
          <mat-card-header>Scenarios</mat-card-header>
          <mat-card-content>
            <ul *ngFor="let scenario of scenarioToDrop" matTooltip="{{scenario.description}}" [draggable] [dragClass]="'active'" [dragData]="scenario" class="drop grey">
              {{scenario.name}}
            </ul>
          </mat-card-content>
        </mat-card>
  </div>
  <div class="col-3">
    <mat-card class="wheels" [draggable] [dragClass]="'active'" [dragData]="wheelsToDrop[selectedWheel]" class="wheels drop white">
        <mat-card-content>
          Move
        <mat-form-field class="inputOption">
          <mat-select [(ngModel)]="selectedWheel" (change)="updateWheelInfo()" placeholder="select"><mat-option *ngFor="let wheel of wheelsToDrop; let i=index" [value]=i>{{wheel.wheel}}</mat-option></mat-select>
        </mat-form-field>
        wheel(s) <mat-form-field class="inputOption">
          <mat-select [(ngModel)]="selectedDirection" (change)="updateWheelInfo()" placeholder="select"><mat-option *ngFor="let direction of direction; let i=index" [value]=i>{{direction}}</mat-option></mat-select>
        </mat-form-field>
        for <mat-form-field (change)="updateWheelInfo()" class="inputOption">
            <input matInput placeholder="ms" type="number" [(ngModel)]="rotationTime">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div style="margin-top: 5px; margin-bottom: 5px">
      <mat-card style="height: 100%; width: 100%" [draggable] [dragClass]="'active'" [dragData]="sleepTime" class="sleep drop white">
        <mat-card-content>
          Sleep <mat-form-field class="sleepInput"><input matInput [(ngModel)]="sleepTime" type="number" placeholder="Duration(ms)"></mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3" style="margin-top: 5px; margin-bottom: 5px">
    <mat-card style="padding: 5px 0px 3px 10px; height: 100%">
      <mat-card-header style="padding: 0px;">Eyes</mat-card-header>
      <mat-card-content style="padding-left: 5px;">
        <ul *ngFor="let eye of eyes" [draggable] [dragClass]="'active'" [dragData]="eye" class="sleep drop white">{{eye.option}}</ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-3" style="margin-top: 5px; margin-bottom: 5px">
    <mat-card style="width: 100%; height: 100%; text-align: center; padding: 0px; padding-top: 30px;" [draggable] [dragClass]="'active'" [dragData]="custom" class="drop grey">
      <mat-card-content>Insert Custom Item</mat-card-content>
    </mat-card>
  </div>
  <div class="col-5">
    <textarea placeholder="Insert this scenario's description" [(ngModel)]="description" rows="2"></textarea>
  </div>
</div>


<!-- Scenario droppable, beo, and buttons -->

<div class="row">
  <div class="col-7">
      <mat-card class="scenario">
          <mat-card-header>Scenario</mat-card-header>
          <mat-card-content droppable [dragOverClass]="'drag-target-border'" [dragHintClass]="'drag-hint'" (onDrop)="addDropItem($event.dragData)">
            <div class="scenario">
              <ul class="scenario-items itemsDropped" *ngFor="let item of itemsDropped; let i=index">
                <ng-container *ngIf="item.type==='motion'">{{item.name}}</ng-container>
                <ng-container *ngIf="item.type==='speech'">{{item.filename}}</ng-container>
                <ng-container *ngIf="item.type==='scenario'">{{item.name}}</ng-container>
                <ng-container *ngIf="item.type==='eye'">Eyes: {{item.option}}</ng-container>
                <ng-container *ngIf="item.type==='wheels' && item.duration > 1">{{item.wheel}} wheel(s) {{item.direction}} for {{item.duration}} ms</ng-container>
                <ng-container *ngIf="item.type==='sleep'">Sleep
                  <mat-form-field><input matInput type="number" [(ngModel)]="itemsDropped[i].ms"></mat-form-field> ms</ng-container>
                <ng-container *ngIf="item.type==='custom'">{{item.name}}</ng-container>
                  <span class="arrows fa fa-arrow-up" (click)="moveUp(i)"></span>
                <span class="arrows fa fa-arrow-down" (click)="moveDown(i)"></span>
                <span class="arrows fa fa-times" (click)="deleteDroppedItem(i)"></span>
              </ul>
            </div>

          </mat-card-content>
          <mat-card-actions>
              <button class="but white small" (click)="newScenario()">New</button>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="col-5 renderBeo" style="width: 200px; height:350px">
    <div class="col-8">
      <app-beo></app-beo>
    </div>
    <div class="container" style="width:100%; margin-top: 15px;">
      <flash-messages></flash-messages>
    </div>
    <div>
      <input class="name" type="text" placeholder="Scenario's name" [(ngModel)]="name">
    </div>
    <div style="margin-top: 5px;">
      <button title="Play current scenario." class="but small white" (click)="playScenario()"
        [disabled]="!itemsDropped">Play</button>
      <button title="Stop current playing scenario." class="but small red" (click)="stopScenario()">Stop</button>
      <button title="Save current scenario." class="but small green" (click)="saveScenario()">Save</button>
    </div>
  </div>
</div>
