.sleepInput ::ng-deep .mat-input-wrapper{
  min-width: 200px;
  max-width: 200px;
  text-align: center;
}
.inputOption ::ng-deep .mat-input-wrapper{
  width: 80px !important;
}

::ng-deep .mat-input-wrapper{
  width:50px !important;
  text-align: center;
}


div.scroll-list {
  overflow: auto;
  max-height: 70vh;
  min-height: 500px;
  min-width: 400px;
  max-width: 400px;
}

.items1 {
  overflow: auto;
  height: 250px;
  max-width: auto;
  padding: 10px;
}

.sleep {
  height: auto;
  padding: 10px;
}

.wheels {
}

.scenario{
  min-height: 280px;
  min-width: 400px;
}

.scenario-items {
  display:inline-block;
}

.show {
  background-color: lightgray;
  border-radius: 3px;
}

.hide {
  background-color: white;
}

ul {
  padding: 10px;
}

.mat-card-header {
  padding-bottom: 10px;
}

.drop {
  display:inline-block;
}

.drag-over {
  border: #ff525b dashed 2px;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.drag-target-border {
  border: #00bfff dashed 2px;
}

.drag-target-border-green {
  border: #3c763d dashed 2px;
}

.card {
  word-wrap: none;
  min-width: 400px;
}

.itemsList{
    position: relative;
    z-index: 1;
    margin: 5px 0px 30px 50px;
    padding: 15px;
    text-align: center;
}

.droppable{
    padding:20px;
    padding-right: 0px;
    margin-top: 20px;
    text-align: center;
    background: #FFFFFF;
    min-height: 50px;
    width: 30%;
}
.scenario {
    background-color: white;
}
.highlight{
	border:solid 1px #0d0;
}
.speechDropped{
    display:inline-block;
    padding:2px 4px;
    margin:4px;
    border:1px solid #aaa;
    background-color:lightgreen;
}
.motionDropped{
    display:inline-block;
    padding:2px 4px;
    margin:4px;
    border:1px solid #aaa;
    background-color:lightgray;
  }
.sleepDropped{
    display:inline-block;
    padding:2px 4px;
    margin:4px;
    border:1px solid #aaa;
    background-color: white;
}

.arrows {
  color: lightgrey;
  cursor: pointer;
}

.arrows:hover {
  color: black
}

textarea {
  width: 500px;
  height: auto;
  resize: none;
  outline-color:  #4CAF50;
  font-family: "Roboto", sans-serif;
  background: #efefef;
  border-radius: 1px;
  margin: 10px 0px 0px 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  text-align: center;
}

input[type=text] {
  font-family: "Roboto", sans-serif;
  outline-color:  #4CAF50;
  background: #efefef;
  width: 40%;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  text-align: center;
}

input.name {
  margin: 0 auto;
  margin-bottom: 5px;
}
