p.name,
p.username,
p.email {
    margin: 0px;
    padding: 0px;
}

.profile{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 10px auto 100px;
    padding: 45px;
    padding-top: 35px;
    width: 70%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.8);
    font-family: "Roboto" sans-serif;
}

.data {
    font-weight: bold;
    font-size: 20px;
    vertical-align: bottom;
    padding-bottom: 50px;
}
.level,
.email {
    font-size: 12px;
    margin-top: 0px;
}

.columns {
    width: 33%;
    text-align:center;
}
.description {
    font-size: 14px;
}
.numbers {
    font-size: 20px;
    font-weight: bold;
}
