<div *ngIf="user">
  <div class="profile">
    <div class="row">
      <div class="data">
        <p class="name">{{user.name}} ({{user.username}})</p>
        <p class="email"><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}}</p>
        <p *ngIf="user.isAdmin" class="level"><i class="fa fa-unlock" aria-hidden="true"></i> Administrator</p>
        <p *ngIf="!user.isAdmin" class="level"><i class="fa fa-lock" aria-hidden="true"></i>  General User</p>
      </div>
    </div>
    <div class="gen-data">
      <div class="row">
          <ul style="list-style-type:none" class="columns">
              <li class="numbers"><i class="fa fa-pencil" aria-hidden="true"></i> {{moves}}</li>
              <li class="description">Motion created</li>
            </ul>
            <ul style="list-style-type:none" class="columns">
              <li class="numbers"><i class="fa fa-volume-up" aria-hidden="true"></i> {{speeches}}</li>
              <li class="description">Speech created</li>
            </ul>
      </div>

    </div>
  </div>
</div>
