
<div class="container database">
  <div class="example-container mat-elevation-z8">
    <div>
        <button class="new-motion" [routerLink]="['/motion/new']">NEW MOTION</button>
    </div>
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <mat-tab-group (selectedTabChange)="changedTab($event.index)">
      <mat-tab label="All Motions">
        <mat-table #table [dataSource]="list">
          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell *matCellDef="let motion">
                <button class="btn" title="Edit file" [routerLink]="['/motion/' + motion.name + '/edit']">
                  <span class="fa fa-pencil"></span></button>
                <button class="btn" title="Delete file" (click)="deleteMotion(motion)">
                  <span class="fa fa-trash-o"></span></button>
                <button class="btn" id="downloadButton" title="Download JSON file" (click)="generateDownloadUri(motion.name)">
                  <span class="fa fa-floppy-o"></span>
                </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let motion"> {{motion.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creator">
            <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
            <mat-cell *matCellDef="let motion"> {{motion.creator}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>
      <mat-tab label="Basic Motions">
          <mat-table #table [dataSource]="list">
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                <mat-cell *matCellDef="let motion">
                    <button class="btn" title="Edit file" [routerLink]="['/motion/' + motion.name + '/edit']">
                      <span class="fa fa-pencil"></span></button>
                    <button class="btn" title="Delete file" (click)="deleteMotion(motion)">
                      <span class="fa fa-trash-o"></span></button>
                    <button class="btn" id="downloadButton" title="Download JSON file" (click)="generateDownloadUri(motion.name)">
                      <span class="fa fa-floppy-o"></span>
                    </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let motion"> {{motion.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="creator">
                <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
                <mat-cell *matCellDef="let motion"> {{motion.creator}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      </mat-tab>
      <mat-tab label="Your Motions">
          <mat-table #table [dataSource]="list">
              <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                <mat-cell *matCellDef="let motion">
                    <button class="btn" title="Edit file" [routerLink]="['/motion/' + motion.name + '/edit']">
                      <span class="fa fa-pencil"></span></button>
                    <button class="btn" title="Delete file" (click)="deleteMotion(motion)">
                      <span class="fa fa-trash-o"></span></button>
                    <button class="btn" id="downloadButton" title="Download JSON file" (click)="generateDownloadUri(motion.name)">
                      <span class="fa fa-floppy-o"></span>
                    </button>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let motion"> {{motion.name}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="creator">
                <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
                <mat-cell *matCellDef="let motion"> {{motion.creator}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      </mat-tab>
    </mat-tab-group>
  </div>
  <form>
    <input type="file" name="motion" accept=".beo" id="input_file" (change)="onFileUpload($event)">
  </form>
</div>
