<div class="dialog">
  <mat-dialog-content>
    <div class="update">
      <button class="but medium white" (click)="utilityService.wsUpdateRobots()">Update Robots</button>
      <mat-form-field class="selection">
        <mat-select placeholder="select robot"(change)="wsConnectToRobot(socketInfo.robots[$event.value])">
          <mat-option *ngFor="let robot of socketInfo.robots; let i = index" [value]=i>{{robot}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div><br>

    <div style="text-align: center">
      <button style="margin-right: 15px;" *ngIf="socketInfo.robot_destiny" class="but medium red" (click)="utilityService.wsCloseConnection()">Close Connection</button>
      <mat-dialog-actions>
        <button class="but white small" mat-button mat-dialog-close>Close</button>
      </mat-dialog-actions>

    </div>


  </mat-dialog-content>
</div>
