.selection ::ng-deep .mat-input-wrapper{
  width: 150px !important;
}

.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
}

.mat-dialog-container > * {
  display: flex;
  flex-direction: column;
}

.mat-dialog-content {
  max-height: inherit !important;
  height: 200px !important;
}

.mat-dialog-actions {
  display: block !important;
  flex-grow: inherit;
  flex-shrink: inherit;
  padding: 12px 0 0 !important;

  &:last-child {
      margin-bottom: 0 !important;
  }
}

button.but{
  margin: 0px !important;
}
