<div class="row">
  <div class="col-6 database">
    <table class="table table-hover table-striped" style="text-align: center">
      <thead>
        <tr>
          <th></th>
          <th style="text-align:left">Speech</th>
          <th style="text-align:center">Language</th>
          <th style="text-align:center">Creator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of list; let i = index; trackBy: trackSpeeches">
          <th id="list-options">
            <button class="btn fa fa-play" title="Play speech" (click)="playSpeech(i)"></button>
            <button class="btn fa fa-trash" title="Delete speech" (click)="deleteSpeech(i)"></button>
            <button class="btn fa fa-floppy-o" id="downloadButton" title="Download mp3 file" (click)="generateDownloadUri(i)"></button>
          </th>
          <th id="filename">{{file.filename}}</th>
          <th id="language">{{file.metadata.language}}</th>
          <th id="creatorname">{{file.metadata.creator}}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-5 speechCreation">
    <app-create-speech (whensaved)="updateList($event)"></app-create-speech>
  </div>
</div>


