<div class="row">
  <div class="col-6 example-container mat-elevation-z8">
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
    <mat-tab-group (selectedTabChange)="changedTab($event.index)">
      <mat-tab label="All Speeches">
        <mat-table #table [dataSource]="list">
          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell *matCellDef="let speech; let i = index">
              <button class="btn fa fa-play" title="Play speech" (click)="playSpeech(i)"></button>
              <button class="btn fa fa-trash" title="Delete speech" (click)="deleteSpeech(i)"></button>
              <button class="btn fa fa-floppy-o" id="downloadButton" title="Download mp3 file" (click)="generateDownloadUri(i)"></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.filename}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.language}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creator">
            <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.creator}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>
<!--
      <mat-tab label="General Speeches">
        <mat-table #table [dataSource]="list">
          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell *matCellDef="let speech; let i = index">
              <button class="btn fa fa-play" title="Play speech" (click)="playSpeech(i)"></button>
              <button class="btn fa fa-trash" title="Delete speech" (click)="deleteSpeech(i)"></button>
              <button class="btn fa fa-floppy-o" id="downloadButton" title="Download mp3 file" (click)="generateDownloadUri(i)"></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.filename}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.language}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creator">
            <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.creator}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab>

      <mat-tab label="Your Speeches">
        <mat-table #table [dataSource]="list">
          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
            <mat-cell *matCellDef="let speech; let i = index">
              <button class="btn fa fa-play" title="Play speech" (click)="playSpeech(i)"></button>
              <button class="btn fa fa-trash" title="Delete speech" (click)="deleteSpeech(i)"></button>
              <button class="btn fa fa-floppy-o" id="downloadButton" title="Download mp3 file" (click)="generateDownloadUri(i)"></button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.filename}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="language">
            <mat-header-cell *matHeaderCellDef> Language </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.language}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="creator">
            <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
            <mat-cell *matCellDef="let speech"> {{speech.metadata.creator}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-tab> -->
    </mat-tab-group>
  </div>
  <div class="col-5">
    <app-create-speech (whensaved)="updateList($event)"></app-create-speech>
  </div>
</div>
