button.btn {
  cursor: pointer;
}

.table th {
border-top: 0px;
}

#list-options{
text-align: center;
width: 30%;
}

#filename{
padding-top: 20px;
width: 20%;
}

#language{
  text-align: center;
  padding-top: 20px;
}

#creatorname{
padding-top: 20px;
width: 20%;
text-align: center;
}

div.database {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 10px 0px 0px 75px;
  padding: 25px;
  padding-top: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.example-container {
  margin-left: 50px;
  margin-top: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  min-width: 270px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

::ng-deep .mat-tab-body-content {
  overflow: visible !important;
}
