
<div style="text-align: center">
  <div class="form-group">
    <div class="row" style="display: inline-block; margin-bottom: 10px;">
      <textarea [(ngModel)]="text" placeholder="Enter text here." rows="5"></textarea>
    </div>
    <div class="row" style="display: inline-block; margin-bottom: 10px;">
      <mat-form-field style="width: 150px">
        <mat-select placeholder="Language" (change)="languageSelection($event.value)">
          <mat-option *ngFor="let voice of voices; let i = index" [value]="i">{{voice.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="but white small" (click)="voiceAdjust()">Adjust</button>
    </div>
    <div class="row wrapper">
      <input required class="form-control name" type="text" name="name" [(ngModel)]="name" placeholder="Speech's name">
    </div>
    <div class="row" style="display: inline">
      <button class="btn save" type="submit" (click)="saveAudio(text)">SAVE</button>
    </div>
    <div>
      <flash-messages></flash-messages>
    </div>
  </div>
</div>

