textarea {
  width: 500px;
  height: auto;
  resize: none;
  outline-color:  #4CAF50;
  font-family: "Roboto", sans-serif;
  background: #efefef;
  border-radius: 1px;
  margin: 10px 0px 0px 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  text-align: center;
}

tr:hover, tr.selected {
  background-color: rgba(0, 0, 0, 0.05)
}
td {padding: 5px;}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

select#soflow {
  -webkit-appearance: button;
  -webkit-border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

button.save {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: #4CAF50;
  width: 30%;
  border: 0;
  border-radius: 0;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.save:hover{
background-color: rgba(76, 175, 80, 0.9);
}

input[type=text] {
  font-family: "Roboto", sans-serif;
  outline-color:  #4CAF50;
  background: #efefef;
  width: 40%;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
  text-align: center;
}

input.name {
  margin: 0 auto;
  margin-bottom: 30px;
}

.form-control {
  width: 35%;
}
