<div class="row">
  <div class="col-md-6" style="width: 50%;">
    <span class="bodyParts">Right Arm</span>
  </div>
  <div class="col-md-6" style="width: 50%;">
      <mat-checkbox style="text-align: right" title="Mirror arms movements" type="checkbox" [(ngModel)]="keyframes.mirror" (change)="keyframes.mirror" name="mirror"></mat-checkbox><span class="mirror">Mirror arms</span>
  </div>
</div>
<div>
  <table>
    <tr>
      <td class="sliders">
          <input matTooltip="Shoulder" type="range" [(ngModel)]="keyframes.joints[0]" (input)="setJoints(0)" name="m00" value="{{keyframes.joints[0]}}" min={{keyframes.jointsMin[0]}} max="{{keyframes.jointsMax[0]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[0]}}°</span>
      </td>
    </tr>
    <tr>
      <td class="sliders">
          <input matTooltip="Upper arm" type="range" [(ngModel)]="keyframes.joints[2]" (input)="setJoints(2)" name="m02" value="{{keyframes.joints[2]}}" min="{{keyframes.jointsMin[2]}}" max="{{keyframes.jointsMax[2]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[2]}}°</span>
      </td>
    </tr>
    <tr>
      <td class="sliders">
          <input matTooltip="Elbow" type="range" [(ngModel)]="keyframes.joints[4]" (input)="setJoints(4)" name="m04" value="{{keyframes.joints[4]}}" min="{{keyframes.jointsMin[4]}}" max="{{keyframes.jointsMax[4]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[4]}}°</span>
      </td>
    </tr>
  </table>
</div><br>

<span class="bodyParts">Left Arm</span><br>
<div>
  <table>
    <tr>
      <td class="sliders">
          <input *ngIf="keyframes.mirror === false" matTooltip="Shoulder" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[1]" (input)="setJoints(1)" name="m01" value="{{keyframes.joints[1]}}" min="{{keyframes.jointsMin[1]}}" max="{{keyframes.jointsMax[1]}}">
          <input *ngIf="keyframes.mirror === true" disabled matTooltip="Shoulder" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[1]" (input)="setJoints(1)" name="m01" value="{{keyframes.joints[1]}}" min="{{keyframes.jointsMin[1]}}" max="{{keyframes.jointsMax[1]}}">
        </td>
      <td class="angles">
        <span class="angle">{{angles[1]}}°</span>
      </td>
    </tr>
    <tr>
      <td class="sliders">
          <input *ngIf="keyframes.mirror === false" matTooltip="Upper arm" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[3]" (input)="setJoints(3)" name="m03" value="{{keyframes.joints[3]}}" min="{{keyframes.jointsMin[3]}}" max="{{keyframes.jointsMax[3]}}">
          <input *ngIf="keyframes.mirror === true" disabled matTooltip="Upper arm" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[3]" (input)="setJoints(3)" name="m03" value="{{keyframes.joints[3]}}" min="{{keyframes.jointsMin[3]}}" max="{{keyframes.jointsMax[3]}}">
        </td>
      <td class="angles">
          <span class="angle">{{angles[3]}}°</span>
      </td>
    </tr>
    <tr>
        <td class="sliders">
          <input *ngIf="keyframes.mirror === false" matTooltip="Elbow" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[5]" (input)="setJoints(5)" name="m05" value="{{keyframes.joints[5]}}" min="{{keyframes.jointsMin[5]}}" max="{{keyframes.jointsMax[5]}}">
          <input *ngIf="keyframes.mirror === true" disabled matTooltip="Elbow" id="reversedRange" type="range" [(ngModel)]="keyframes.joints[5]" (input)="setJoints(5)" name="m05" value="{{keyframes.joints[5]}}" min="{{keyframes.jointsMin[5]}}" max="{{keyframes.jointsMax[5]}}">
        </td>
        <td class="angles">
            <span class="angle">{{angles[5]}}°</span>
        </td>
    </tr>
  </table>
</div><br>

<span class="bodyParts">Head</span><br>
<div>
  <table>
    <tr>
      <td class="sliders">
          <input matTooltip="Inclination" type="range" [(ngModel)]="keyframes.joints[6]"(input)="setJoints(6)" name="m06" value="{{keyframes.joints[6]}}" min="{{keyframes.jointsMin[6]}}" max="{{keyframes.jointsMax[6]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[6]}}°</span>
      </td>
    </tr>
    <tr>
      <td class="sliders">
          <input matTooltip="Up/Down" type="range" [(ngModel)]="keyframes.joints[7]"(input)="setJoints(7)" name="m07" value="{{keyframes.joints[7]}}" min="{{keyframes.jointsMin[7]}}" max="{{keyframes.jointsMax[7]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[7]}}°</span>
      </td>
    </tr>
    <tr>
      <td class="sliders">
          <input matTooltip="Left/Right" type="range" [(ngModel)]="keyframes.joints[8]"(input)="setJoints(8)" name="m08" value="{{keyframes.joints[8]}}" min="{{keyframes.jointsMin[8]}}" max="{{keyframes.jointsMax[8]}}">
      </td>
      <td class="angles">
          <span class="angle">{{angles[8]}}°</span>
      </td>
    </tr>
  </table>
</div><br>
