/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/theming/custom-theme.scss"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 8px solid #b1acacd0; /* Light grey */
    border-top: 8px solid #4CAF50; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

body{
  margin: 0; /* to remove the default white margin of body */
  padding: 0; /* to remove the default white margin of body */
  height: 100%;
}

html {
  background-color:whitesmoke;
  margin:0;
  padding:0;
  height: 100%;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.but {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
    border: 0;
    padding: 5px;
    color: black;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

button.white {
    background: white;
}

button.green {
    background: #4CAF50;
}

button.red {
    background: rgba(201, 36, 36, 0.85);
    color: white;
}

button.white:hover {
    background-color: rgba(0, 0, 0, 0.02);
}

button.green:hover {
    background-color: rgba(76, 175, 80, 0.9);
}

button.red:hover {
    background-color: rgba(201, 36, 36, 0.75);
}

button.xsmall {
    width: 50px;
}

button.small {
    width: 90px;
}

button.medium {
    width: 160px;
}
