
<mat-tab-group style="overflow: hidden;">
  <mat-tab label="Sliders">
    <div>
      <br>
      <app-joint-sliders (newMessage)="onMessage($event)"></app-joint-sliders>
      <div style="text-align: center">
        <button class="add" (click)="tableAdd()" title="Adds selected pose to table of poses">Add</button>
      </div><br>
    </div>
  </mat-tab>
  <mat-tab label="Live">
    <div style="text-align: center" *ngIf="socketInfo.robot_destiny">
      <br>
      <div style="padding: 10px;">
        <button class="general" (click)="utilityService.wsDisableTorque()">Disable Torque</button>
      </div>
      <div style="padding: 10px;">
        <button class="general" (click)="wsPhysicalMirror()">Mirror</button>
      </div>
      <div style="padding: 10px;">
          <button class="general" (click)="wsGetPose()">Get Pose</button>
      </div>
    </div>
    <div *ngIf="!socketInfo.robot_destiny">
      <p style="text-align: center; padding: 10px;">Needs connection to a robot!</p>
    </div>
    <br>
  </mat-tab>
</mat-tab-group>
