
button.add {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: white;
  width: 90px;
  border: 0;
  padding: 10px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.general {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  background: white;
  width: 150px;
  border: 0;
  padding: 10px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.connect {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  width: 35%;
  border: 0;
  padding: 10px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button.disconnect {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgba(201, 36, 36, 0.85);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  width: 160px;
  border: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.connect:hover,
.add:hover,
.general:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.disconnect:hover {
  background-color: rgba(201, 36, 36, 0.75);
}

